.d-flex {
  display: flex;
}

.mg-10 {
  margin: 10px;
}

.pt-10 {
  padding: 10px;
}

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: $value;
  }
}

// @each $type, $type-value in $space-types {
//   @each $key, $value in $spacers {
//     .#{$type}-#{$key} {
//       $type-value: $value;
//     }
//   }
// }
