.home {
  height: 200px;
  justify-content: center;
  align-items: center;
}

.home__message {
  font-size: 30px;
  font-weight: bolder;
}

.home__section {
  justify-content: center;
  align-items: center;
  margin: 25px;

  h2 {
    margin: auto;
  }
}

.home__contentBox {
  text-align: center;
  height: 150px;
  font-weight: bolder;
}

.home__btn {
  margin: auto;
  border: 0;
  width: 130px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
